rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /room/{roomId}{
      allow read, update: if request.auth.uid != null && (resource.id == request.auth.uid || resource.id in get(/databases/$(database)/documents/userPower/$(request.auth.uid)).data.ownerRooms);
    }
  }
}