/* * * * * * * * * * * * *
 *    youtube styles     *
 * * * * * * * * * * * * */

.youtube-movie {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #f8f8f8;
    /* padding-bottom: 56.25%; */
}

.youtube-movie iframe {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* * * * * * * * * * * * *
 *      URL styles       *
 * * * * * * * * * * * * */

/* url body */
.url-body {
    padding-top: 15px;
    padding-bottom: 17px;
}

/* url input */
.input-group.url-play {
    width: 100%;
}

.url-input:focus, .url-input:active {
    border-color: #920000;
    opacity: 0.70;
    outline: none;
    box-shadow: none;
}

/* url button */
.btn-url-primary {
    color: #FFFFFF;
    background-color: #920000;
    opacity: 0.70;
}

.btn-url-primary:hover{
    color: #FFFFFF;
    background-color: #920000;
    opacity: 1;
    transition: all 0.2s linear;
}

.btn-url-primary:focus, .btn-url-primary:active {
    outline: none;
    box-shadow: none;
}

/* * * * * * * * * * * * *
 *  video queue styles   *
 * * * * * * * * * * * * */

/* queue body */
div.queue-body {
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* queue list */
ul.queue-list {
    padding: 15px 0;
}

ul.queue-list li{
    list-style: none;
    display: inline-block;
    margin: 1%;
    width: 30%;
    position: relative;
}

ul.queue-list li:hover .queue_delete {
    display: block;
}

ul.queue-list li img {
    width: 100%;
    border: 5px solid #ffffff;
}

ul.queue-list li:first-child img {
    border-color:#ff0000;
}

ul.queue-list li:not(:first-child) img:hover {
    transition: all 0.2s linear;
    border-color:#ff0000;
}

/* queue delete button */
.queue_delete {
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 7%;   
    display: none;
}

/* * * * * * * * * * * * *
 *    comment styles     *
 * * * * * * * * * * * * */

/* comment body */
div.comment-body {
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    padding-bottom: 5px;
}

/* comment title */
div.comment-title {
    background-color: #920000;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #c0c0c0;
}

/* comment text */
div.comment-text {
    width: 100%;
    max-height: 700px;
    overflow: auto;
    background-color: #f8f8f8;
}

/* comment input */
div.comment-body div.comment-input{
    margin-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    bottom: 0;
}

div.comment-input > input:focus, .div.comment-input > input:active,
div.comment-input span > button:focus, .div.comment-input span > button:active {
    outline: none;
    box-shadow: none;
}

div.comment-body div.comment-input input {
    border: 0;
    width: 80%;
    height: 30px;
    border-radius: 0;
    margin-left: 10px;
    border-bottom: 1px solid #920000;
}

/* * * * * * * * * * * * *
 *      icon styles      *
 * * * * * * * * * * * * */
.icon-primary {
    color: #920000;
}

.forward {
    z-index: 100;
}

/* * * * * * * * * * * * *
 *  video player styles  *
 * * * * * * * * * * * * */

div.player-body {
    padding-top: 25px;
}

.video-body {
    padding-right: 25px;
}

/* * * * * * * * * * * * *
 *   responsive styles   *
 * * * * * * * * * * * * */

@media screen and (min-width: 767px) {
    div.player-body {
        background-color: #f8f8f8;
        padding-top: 25px;
        padding-left: 50px;
        padding-right: 65px; /* bootstrapの auto padding 差分で右に+15pxが必要 */
    }
    div.queue-body {
        padding-left: 50px;
        padding-right: 50px;
    }  
}

@media screen and (max-width: 767px) {
    div.comment-body {
        margin-right: 14px;
        margin-left: 14px;
    }
}

@media screen and (max-width: 1400px) {
    div.comment-text {
        max-height: 450px;
        overflow: auto;
    }
}


/* * * * * * * * * * * * *
 *      tag styles       *
 * * * * * * * * * * * * */

p {
    font-size: 12px;
    margin: 0;
}