/* * * * * * * * * * * * *
 *    youtube styles     *
 * * * * * * * * * * * * */

.youtube-movie {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #f8f8f8;
    /* padding-bottom: 56.25%; */
}

.youtube-movie iframe {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-wrapper {
    background: #92000086;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: table;
}

.loading-enter-active, .loading-leave-active { transition: opacity .5s; }
.loading-enter, .loading-leave-to { opacity: 0; }

p {
    font-size: 12px;
    margin: 0;
}

/* * * * * * * * * * * * *
 *      URL styles       *
 * * * * * * * * * * * * */

/* url body */
.url-body {
    padding-top: 15px;
    padding-bottom: 17px;
    background-color: #FFFFFF;
}

/* url input */
.input-group.url-play {
    width: 100%;
}

.url-input:focus, .url-input:active {
    border-color: #920000;
    opacity: 0.70;
    outline: none;
    box-shadow: none;
}

/* url button */
.btn-url-primary {
    color: #FFFFFF;
    background-color: #920000;
    opacity: 0.70;
}

.btn-url-primary:hover{
    color: #FFFFFF;
    background-color: #920000;
    opacity: 1;
    transition: all 0.2s linear;
}

.btn-url-primary:focus, .btn-url-primary:active {
    outline: none;
    box-shadow: none;
}

/* * * * * * * * * * * * *
 *  video queue styles   *
 * * * * * * * * * * * * */

/* queue body */
div.queue-body {
    height: 34.8vw;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

div.queue-body div > div {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1rem;
}

div.queue-body > div > div:hover .queue_delete {
    display: block;
}

div.queue-body > div > div img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #c7c7c7c7;
}

div.queue-body > div > div:first-child img {
    border-color:#ff0000;
}

div.queue-body > div > div:not(:first-child) img:hover {
    transition: all 0.2s linear;
    border-color:#ff0000;
}

/* queue delete button */
.queue_delete {
    border-radius: 50%;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 10%;
    left: 5%;
    display: none;
}

/* * * * * * * * * * * * *
 *      icon styles      *
 * * * * * * * * * * * * */
.icon-primary {
    color: #920000;
}

.forward {
    z-index: 100;
}

/* * * * * * * * * * * * *
 *  video player styles  *
 * * * * * * * * * * * * */

div.player-body {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1920px;
}

.video-body {
    padding-right: 25px;
}

/* * * * * * * * * * * * *
 *   responsive styles   *
 * * * * * * * * * * * * */

@media screen and (min-width: 768px) {
    div.player-body {
        padding-top: 25px;
        padding-left: 40px;
        padding-right: 55px; /* bootstrapの auto padding 差分で右に+15pxが必要 */
    }
}

@media screen and (min-width: 1920px) {
    div.player-body {
        margin: auto;
    }
    div.queue-body > div > div img {
        width: 5vh;
        height: 5vh;
    }
}

@media screen and (max-width: 992px) {
    div.queue-body > div > div img {
        width: 13vw;
        height: 13vw;
    }

    div.queue-body {
        margin-top: 10px;
    }

    div.queue-body div > div {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 1rem;
    }
}

@media screen and (max-width: 768px) {
    div.queue-body > div > div img {
        width: 13.5vw;
        height: 13.5vw;
    }
    div.queue-body div > div {
        padding: 0px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 576px) {
    div.queue-body > div > div img {
        width: 20vw;
        height: 20vw;
    }
    div.queue-body div > div {
        padding: 0px;
        padding-top: 5px;
    }
}

/* * * * * * * * * * * * *
 *      tag styles       *
 * * * * * * * * * * * * */

p {
    font-size: 12px;
    margin: 0;
}