/* * * * * * * * * * * * *
 *    youtube styles     *
 * * * * * * * * * * * * */

.youtube-movie {
    position: relative;
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    /* box-shadow: 2px 2px 25px 9px#ccccccdc; */
    /* padding-bottom: 56.25%; */
}

.youtube-movie iframe {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-wrapper {
    background: #92000086;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: table;
}

.loading-enter-active, .loading-leave-active { transition: opacity .5s; }
.loading-enter, .loading-leave-to { opacity: 0; }

p {
    font-size: 12px;
    margin: 0;
}

/* * * * * * * * * * * * *
 *      URL styles       *
 * * * * * * * * * * * * */

/* url body */
.url-body {
    padding-top: 15px;
    padding-bottom: 17px;
    background-color: #FFFFFF;
}

/* url input */
.input-group.url-play {
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 5px;
}

.input-group.url-play input[type=text]{
    border: none;
    border-radius: 0;
}

.input-group.url-play input[type=text]::placeholder {
    font-size: 15px;
    position: relative;
    top: 0.2em;
}

.url-input:focus, .url-input:active {
    border-color: #c790c2;
    opacity: 0.70;
    outline: none;
    box-shadow: none;
}



/* url button */
.btn-url-primary {
    border-radius: 50%;
    color: #ffffff;
    background-color: #dc7390;
    margin: 0 3px;
    font-size: 13px;
    padding: 9px 13px;
    /* opacity: 0.70; */
    transition: .5s;
    box-shadow: 1px 2px 6px #e2e2e2;
}

.btn-url-primary.play {
    padding: 9px 12px 9px 13px;
}

.btn-url-primary:hover{
    color: #FFFFFF;
    background-color: #d62e5e;
    opacity: 1;
    transition: all 0.2s linear;
}

.btn-url-primary:focus, .btn-url-primary:active {
    outline: none;
    box-shadow: none;
}

/* * * * * * * * * * * * *
 *  video queue styles   *
 * * * * * * * * * * * * */

/* queue body */
div.queue-body {
    /* background-color: black; */
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    transition: outline 3s;
}

div.queue-body .queue_imgs:hover {
    outline: 1px solid black;
    outline-style: auto;
    outline-color: rgb(226, 43, 202);
}

div.queue-body div > div {
    padding: 0px;
    padding-top: 10px;
    width: 1rem;
}

div.queue-body > div > div:hover .queue_delete {
    display: block;
}

div.queue-body > div > div img {
    width: 8.3vw;
    height: 8.3vw;
    -o-object-fit: cover;
    object-fit: cover;
    box-sizing: border-box;
    -webkit-animation: fadeIn-data-v-13a74519 2s ease 0s 1 normal;
    animation: fadeIn-data-v-13a74519 2s ease 0s 1 normal;
    box-shadow: 4px 4px 10px #b7b7b7;
    border-radius: 6%;
    transition: all 0.1s linear;

}


div.queue-body > div > div img:active {
    cursor: move;
}

div.queue-body .queue_desc {
    font-size: 13px;
    background-color: #dc7390;
    color: #ffffff;
    padding: 15px 3px;
    width: 100%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@keyframes fadeIn {
    0% {opacity: 0.3}
    100% {opacity: 1}
}

div.queue-body > div > div:first-child img {
    border-color:#ff4ccc;
    border-width: 5px;
    border-style: solid;
}

div.queue-body > div > div:not(:first-child) img:hover {
    border-color:#ff4ccc;
    border-width: 5px;
    border-style: solid;
}

/* queue delete button */
.queue_delete {
    border-radius: 50%;
    position: absolute;
    padding: 0;
    top: 10%;
    left: 14%;
    display: none;
    font-size: 33px;
    border: none;
    color: #f14072;
    background-color: rgba(0, 0, 0, 0);
}

/* * * * * * * * * * * * *
 *      icon styles      *
 * * * * * * * * * * * * */
.icon-primary {
    color: #920000;
}

.forward {
    z-index: 100;
}

/* * * * * * * * * * * * *
 *  video player styles  *
 * * * * * * * * * * * * */

div.player-body {
    /* margin-left: 4%; */
    /* margin-right: 4%; */
    /* padding-top: 25px; */
    padding-bottom: 25px;
    max-width: 1920px;
}

.video-body {
    padding-right: 25px;
}

/* * * * * * * * * * * * *
 *   responsive styles   *
 * * * * * * * * * * * * */

@media screen and (min-width: 768px) {
    div.player-body {
        padding-top: 25px;
        padding-left: 25px
        /* bootstrapの auto padding 差分で右に+15pxが必要 */
    }
}

@media screen and (min-width: 1920px) {
    div.player-body {
        padding-left: 40px;
        padding-right: 55px;
        margin: auto;
    }
    div.queue-body > div > div img {
        width: 8vw;
        height: 8vw;
    }
}

@media screen and (min-width: 2000px) {
    div.queue-body > div > div img {
        width: 7.5vw;
        height: 7.5vw;
    }
}

@media screen and (min-width: 2400px) {
    div.queue-body > div > div img {
        width: 6.5vw;
        height: 6.5vw;
    }
}

@media screen and (min-width: 2800px) {
    div.queue-body > div > div img {
        width: 5.7vw;
        height: 5.7vw;
    }
}

@media screen and (min-width: 3200px) {
    div.queue-body > div > div img {
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (min-width: 3600px) {
    div.queue-body > div > div img {
        width: 4.5vw;
        height: 4.5vw;
    }
}

@media screen and (max-width: 992px) {
    div.queue-body > div > div img {
        width: 13vw;
        height: 13vw;
    }

    div.queue-body {
        margin-top: 10px;
        margin-left: 19px;
    }

    div.queue-body div > div {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 1rem;
    }

    div.player-body {
        padding-top: 0px;
        padding-left: 0px
        /* bootstrapの auto padding 差分で右に+15pxが必要 */
    }
}

@media screen and (max-width: 768px) {
    div.queue-body > div > div img {
        width: 13vw;
        height: 13vw;
    }
    div.queue-body div > div {
        padding: 0px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 576px) {
    div.queue-body > div > div img {
        width: 17vw;
        height: 17vw;
    }
    div.queue-body div > div {
        padding: 0px;
        padding-top: 7px;
    }

    div.queue-body > div > div:first-child img {
        border-width: 3px;
    }
    div.queue-body > div > div:not(:first-child) img:hover {
        border-width: 3px;
    }
        
    .input-group.url-play input[type=text]{
        padding: 0;
    }

    .input-group.url-play input[type=text]::placeholder {
        font-size: 10px;
        top: 0.65em;
    }

    .queue_delete {
        top: 13%;
        left: 18%;
        font-size: 22px;
    }

    .btn-url-primary {
        padding: 6px 8px 5px 10px;
        font-size: 10px;
        margin: 10px 1px 0;
    }

    .url-play .btn-url-primary.plus {
        padding: 6px 8px 5px 9.5px;
    }

    .btn-url-primary.play {
        padding: 6px 8px 5px 10px;
    }

    div.queue-body .queue_desc {
        font-size: 11px;
    }
}

/* * * * * * * * * * * * *
 *      tag styles       *
 * * * * * * * * * * * * */

p {
    font-size: 12px;
    margin: 0;
}